.colours {
  color: #22223b;
  color: #4a4e69;
  color: #9a8c98;
  color: #c9ada7;
  color: #f2e9e4;
  font-family: 'Source Serif Pro', serif;
}


body {
  
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #414141
  

}

/*HEADER */

.header {
  background-image: url("./photos/book.jpg");
  background-size: cover;
  width: 100%;
  height: 70vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
}

.header h1 {
  font-family: 'Cardo', serif;
  font-size: 70px;
  letter-spacing: 5px;
}

.header h2 {
  font-weight: 300;
  font-size: 40px;
}

.hr-header {
  background-color: white;
  width: 30%;
  height: 1px;
  border-radius: 100%;
}

/*NAWIGACJA */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-bottom: 0;
  
  
  
 
}
nav {
  
  background-color: #22223b;
  position: fixed;
  width: 100%;
  height: 8vh;
  padding: 0;
  margin: 0;
}


.navbar h1 {
  margin-left: 3em;
  color: white;
  font-family: 'Cardo', serif;
  font-family: 700;
  font-size: 27px;
width: 30%;
margin-bottom: 0;
margin-top: 0;
}

.navbar ul {
display: flex;
flex-direction: row;
margin-right: 3em;
justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

}

.navbar li {
  list-style: none;
  padding-left: 2em;
  padding-right: 2em;
  color: white
}

.navbar a {
text-decoration: none;
color: white
}

.empty-bar {
  height:20vh;
}

/* WYSZUKIWANIE */

.searchPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  
  background-size: cover;
  z-index: 1;
}

.search-page img {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -2;

}

.search-bg {
  width: 100%;
  height: 100vh;
  z-index: -1;
  position: absolute;
  background-color: #22223b;
  opacity: 0.7;
}


.searchPanel h1 {
  font-weight: 300;
  font-size: 50px;
  margin-bottom: 1em;
  letter-spacing: 3px;

   
  
}
.searchPanel form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchPanel input {
  border-radius: 50px;
  width: 35em;
  height: 3em;
  border-color: transparent;
  color: #4a4e69;
  padding-left: 1em;
  outline: none;
}

.searchPanel button {
  width: 30%;
  border-radius: 50px;
  height: 2.5em;
  margin-top: 2em;
  border-color: transparent;
  background-color: #4a4e69;
  color: white;
  font-size: 20px;
  
}

.searchPanel button:disabled {
  outline:0;
  background-color: #9797978e;
  color: rgba(255, 255, 255, 0.61);
}

.searchPanel button:disabled:hover {
  outline:0;
  background-color: #9797978e;
  color: rgba(255, 255, 255, 0.61);
}

.searchPanel button:focus {
  outline:0;
  background-color: #22223b
}

.searchPanel button:hover {
  background-color: #9a8c98 ;
  color: white;
    }

.search-again-elements form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.search-again-elements input {
  border-radius: 50px;
  width: 35em;
  height: 3em;
  border-color: transparent;
  color: #4a4e69;
  padding-left: 1em;
  outline: none;
}

.search-again-elements input:focus  {
  outline: none;

  }

.search-again-elements button {
  width: 40%;
  border-radius: 50px;
  height: 2em;
  border-color: transparent;
  background-color: #4a4e69;
  color: white;
  font-size: 20px;
  margin-left: 0.5em;
  margin-top: 1.5em;
}

.search-again-elements button:focus  {
  outline: none;
  background-color: #22223b;
  }

  .search-again-elements button:hover {
    background-color: #9a8c98 ;
    color: white;
      }

.search-again-elements {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-left: 4em;
  margin-right: 4em;
  
  
 
}

.search-again {
  background-image: url("./photos/color.png");
  color: white;
  height: 60vh;
  
}
.search-again-elements h2 {
 
  font-weight: 400;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
}

/* WYNIKI WYSZUKIWANIA */

.searchResults {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3em;
  margin-bottom: 3em;
  
}



.resultsPage {
  display: flex;
  flex-direction: column;
 width: 30%;
 

  
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  
  
  
  
  
}

/* UKŁAD WEWNĄTRZ KART*/

.results img {
  width: 160px;
  height: 240px;
  border-radius: 3%;
  
}

.results img:hover {
  width: 210px;
  height: 290px;
 
}

.info {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
width: 80%;

}

.results h2 {
  color: #22223b;
  font-size: 16px;
  margin-bottom: 0.4em;
  margin-top: 1em;
  
  
}

.results h3 {
  color: #22223b;
  font-size: 14px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  
  
}

.results p {
  color: #4a4e69;
  font-size: 12px;
  font-weight: bold;
  margin-top: 0.7em;
}

footer {
  display: flex;
  flex-direction: row;
  padding: 3em;
  margin: 0;
}

.secTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  
}

.secTitle h2 {
  margin-bottom: 0;
  color: #22223b;
  
}

.hrLine {
  width: 20%;
  
}



/* FOOTER */

footer {
  background-color: #22223b;
  color: white;
 position: relative;
 display: flex;
 flex-direction: column;
height: 40vh;
}
footer p {
  font-size: 20px;
}
footer ul {
  display: flex;
}

footer li {
  list-style: none;
  padding-bottom: 1em;
  
}
.footer-contact-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
}

.footer-contact ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.social-media-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.social-media-footer ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.footer-contact-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.end-line {
  position: absolute;
  right: 20px;
  bottom: 5px;
  font-size: 10px;
  font-weight: 300;
}

/* KARUZELA */

.carousel {
display: flex;
flex-direction: column;
justify-content: center;
margin-top: 0;
padding-top: 0;


}

.carousel p {
  
  line-height: 30px;
  margin-top: 2em;
 
}
.carousel h1 {
  text-align: center;
  background-color: #22223b;
  color: white;
  font-weight: 400;
  height: 2em;
  margin: 0;
  padding: 0;
  font-size: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.carousel h2 {
 font-size: 40px;
 font-family: 'Open Sans', sans-serif;
 letter-spacing: 4px;
}

.carousel h3 {
  font-size: 30px;
  color: #f2e9e4;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.first {
  background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  width: 100%;
  height: 500px;
}

.second {
  background: rgb(161,122,209);
background: radial-gradient(circle, rgba(161,122,209,1) 0%, rgba(42,69,215,1) 100%);
    width: 100%;
    height: 500px;
}

.third {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    width: 100%;
    height: 500px;
}

.button-more {
  width: 20%;
  border-radius: 50px;
  height: 2.2em;
  margin-top: 3em;
  margin-bottom: 3em;
  border-color: transparent;
  background-color: #9a8c98;
  color: white;
  font-size: 18px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  
}
.button-more:focus {
outline: none;
background-color: #22223b;
}

.button-more:hover {
  background-color: #22223b ;
  color: white;
    }
.movie .opening {
  display: none;
}

.active .opening {
  display: block
}

/*DETAILS*/

.details-title-author {
color: #4a4e69;
}
.imgButton {
 
  background-color: transparent;
  border-style: none;
}
.imgButton:focus  {
  outline: none;
 
  }
.detailsAuthor {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.detail-content {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
color: #22223b;
}

.detail-content img {
height: 70vh;
}

.detail-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 80%;
  margin-left: 1.5em;
  margin-right: 1.5em;
  text-align: justify;

  }

  .read-now-button {
    
  border-radius: 50px;
  height: 2.2em;
  
  border-color: transparent;
  background-color: #4a4e69;
  color: white;
  font-size: 18px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;

  }
.read-now-button:focus  {
  outline: none;
  background-color: #22223b;
  }
  .read-now-button:hover {
background-color: #22223b;
color: white;
  }

  .close-button {
    border-radius: 50px;
  height: 2.2em;
  margin-top: 3em;
  margin-bottom: 3em;
  border-color: transparent;
  background-color: #9a8c98;
  color: white;
  font-size: 18px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  }
.close-button:focus  {
  outline: none;
  background-color: #22223b;
  }
  .close-button:hover {
    background-color:#4a4e69;
  }

  /*FRIEND SECTION */

  .friend-slide {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5em;
    margin-top: 5em;
    
  }

  .friend-slide img {
width: 55%;


  }

  .friend-slide-elements {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
color: #22223b;
margin-top: 2em;
margin-right: 3em;
  }
.friend-slide-elements h1 {
  font-weight: 500;
   height: 2em;
   margin: 0;
   padding: 0;
   font-size: 40px;
   text-align: start;
}
 
 
 
 
 
 .friend-slide-elements h2 {
   color: #22223b;
   letter-spacing: 10px;
   text-align: start;
   font-family: 'Cardo', serif;
   
 }
 
 .kochanowski {
   margin-top: 2em;
   margin-bottom: 1em;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
  
 }
 
 .kochanowski h4 {
   margin-top: 0em;
   font-size: 16px;
   font-weight: 400;
 }
 
 .kochanowski p {
   text-align: start;
   line-height: 40px;
   margin-bottom: 0;
   font-size: 18px;
 }
 
 .friend-desciption {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   width: 100%;
   text-align: justify;
   font-weight: 400;
   margin-top: 1em;
   font-size: 18px;
   line-height: 35px;
   
  
 }
 
 .read-more-friend {
   width: 100%;
   border-radius: 50px;
   height: 2.2em;
   margin-top: 2em;
   margin-bottom: 2em;
   border-color: transparent;
   background-color: #4a4e69;
   color: white;
   font-size: 18px;
   text-align: center;
   font-family: 'Open Sans', sans-serif;
  
 }
 .read-more-friend:hover {
  background-color: #9a8c98 ;
  color: white;
    }

  .read-more-friend:focus {
    outline: none;
  }  
 
 .read-more {
   width: 15em;
   border-radius: 50px;
   height: 2.2em;
   border-color: transparent;
   background-color: #9a8c98;
   color: white;
   font-size: 18px;
   text-align: center;
   font-family: 'Open Sans', sans-serif;
   
 }

 .read-more:hover {
  background-color: #22223b ;
  color: white;
    }

  .read-more:focus {
    outline: none;
  }  
 
 .friend-title {
   text-align: center;
   margin-top: 2em;
 
 }

 /*------------------------------THIS MONTH-------------------------------*/

 /*INTRO*/

.this-month-intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 3em;
  margin-bottom: 3em;
  
}
.this-month-intro img {
width: 40%;


}

.this-month-intro-descr {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
text-align: justify;
margin-left: 5em;
margin-right: 5em;
}
.this-month-intro h2 {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  font-weight: 400;
}

.friend-word {
  
  font-weight: 600;
  letter-spacing: 5px;
  color: #4a4e69;
  margin-top: 0.3em;
  font-size: 40px;
}
/*QUOTE*/

.quote {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 3em;
  margin-bottom: 3em;
  
}
.quote img {
width: 40%;
}

.quote-content{

margin: 0 4em 0 4em;
text-align: justify;
display: flex;
align-items: flex-end;
flex-direction: column;


}

.quote-mark{
  font-size: 60px;
  font-family: 'Cardo', serif;
}

.quote p{
  font-size: 30px;
  font-weight: 300;
  font-family: 'Cardo', serif;
}

.quote h4 {
  font-size: 20px;
  font-weight: 300;
  font-family: 'Cardo', serif;
}

.friend-books {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*SONG*/

.song {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #f2e9e4;
  
}

.song-lyrics {
  margin: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 30%;
  
  
}

.song-lyrics h3 {
font-weight: 400;
font-size: 20px;
font-family: 'Cardo', serif;
}


.song-lyrics h2 {
  font-family: 'Cardo', serif;
  margin-bottom: 1em;
}

.song-lyrics p {
  line-height: 32px;
}

.video {
  width: 70%;
 
  
}

.video-view {
  width: 100%;
  height: 80vh;
}

.song button {
  background-color: transparent;
  border-style: none;
}

.song button:focus  {
  outline: none;
  background-color: #22223b;
  }
.song button:hover {
  background-color: #9a8c98 ;
  color: white;
    }
.expand-icon {
  color: #22223b;
  
}

.expand-icon:hover {
  cursor: pointer;
}

/*-------CONTACT---------------*/

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 
}

.contact img {
  width: 50%;
  
}

.contact a {
  text-decoration: none;
}

.contact-welcome {
  margin-right: 3em;
  margin-left: 3em;
  display: flex;
  flex-direction: column;
  
}

.contact h1 {
  font-size: 60px;
  color: #4a4e69;
  margin-bottom: 0.5em;
  
}

.contact p {
  color: #4a4e69;
  font-size: 25px;
}

.contact-icons {
 margin-top: 3em;
}



.contact ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}

.contact ul li {
  list-style: none;
  padding-right: 1em;
}

