.colours {
  color: #22223b;
  color: #4a4e69;
  color: #9a8c98;
  color: #c9ada7;
  color: #f2e9e4;
  font-family: 'Source Serif Pro', serif;
}


body {
  
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #414141
  

}

/*NAWIGACJA */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0.5em;
  
  
 
}
nav {
  
  background-color: #22223b;
  position: fixed;
  width: 100%;
  height: 10vh;
  padding: 0;
  margin: 0;
}


.navbar h1 {
  margin-left: 3em;
  color: white;
  font-family: 'Cardo', serif;
  font-family: 700;
  font-size: 27px;
width: 30%;
margin-bottom: 0;
margin-top: 0;
}

.navbar ul {
display: flex;
flex-direction: row;
margin-right: 3em;
justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

}

.navbar li {
  list-style: none;
  padding-left: 2em;
  padding-right: 2em;
  color: white
}

.navbar a {
text-decoration: none;
color: white
}

.empty-bar {
  height:20vh;
}

/* WYSZUKIWANIE */

.searchPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  background-image: url("main-bg.jpg");
  background-size: cover;
  
}

.searchPanel h1 {
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 1em;
}
.searchPanel form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchPanel input {
  border-radius: 50px;
  width: 35em;
  height: 3em;
  border-color: transparent;
  color: #4a4e69;
  padding-left: 1em;
}

.searchPanel button {
  width: 30%;
  border-radius: 50px;
  height: 2.5em;
  margin-top: 3em;
  border-color: transparent;
  background-color: #4a4e69;
  color: white;
  font-size: 20px;
}



.search-again-elements form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-again-elements input {
  border-radius: 50px;
  width: 35em;
  height: 3em;
  border-color: transparent;
  color: #4a4e69;
  padding-left: 1em;
}

.search-again-elements button {
  width: 40%;
  border-radius: 50px;
  height: 2em;
  border-color: transparent;
  background-color: #4a4e69;
  color: white;
  font-size: 20px;
  margin-left: 0.5em;
}

.search-again-elements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin-left: 4em;
  margin-right: 4em;
 
}

.search-again {
  background-color: #9a8c98;
  color: white;
  height: 12em;
  


  
}
.search-again-elements h2 {
 
  font-weight: 300;
  font-size: 35px;
}

/* WYNIKI WYSZUKIWANIA */

.searchResults {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 4 4 0 4em;
}



.resultsPage {
  display: flex;
  flex-direction: column;
 width: 30%;

  
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 2em 1em 2em 1em;
  
  
}

/* UKŁAD WEWNĄTRZ KART*/

.results img {
  width: 160px;
  height: 240px;
}

.info {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
width: 80%;

}

.results h2 {
  color: #22223b;
  font-size: 16px;
  margin-bottom: 0.4em;
  margin-top: 1em;
  
  
}

.results h3 {
  color: #22223b;
  font-size: 14px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  
  
}

.results p {
  color: #4a4e69;
  font-size: 12px;
  font-weight: bold;
  margin-top: 0.7em;
}

footer {
  display: flex;
  flex-direction: row;
  padding: 3em;
  margin: 0;
}

.secTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.secTitle h2 {
  margin-bottom: 0;
  color: #22223b;
  letter-spacing: 8px;
}

.hrLine {
  width: 20%;
  
}

/* FRIEND SECTION*/

.friend-slide {
 width: 100%;
 position: relative;
 
  

}
.friend-slide-elements {
  color: #22223b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  z-index: 1;
}

.friend-slide-elements h1 {
  text-align: center;
  
  font-weight: 500;
  height: 2em;
  margin: 0;
  padding: 0;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.friend-slide-elements h2 {
  color: #4a4e69;
  letter-spacing: 10px;
  
}

.kochanowski {
  margin-top: 2em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
 
}

.kochanowski h4 {
  margin-top: 0em;
  font-size: 16px;
  font-weight: 400;
}

.kochanowski p {
  text-align: center;
  line-height: 40px;
  margin-bottom: 0;
  font-size: 18px;
}

.friend-desciption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-left: 6.5em;
  font-weight: 400;
  margin-top: 3em;
  font-size: 18px;
  
  
 
}

.read-more-friend {
  width: 100%;
  border-radius: 50px;
  height: 2.2em;
  margin-top: 3em;
  margin-bottom: 3em;
  border-color: transparent;
  background-color: #4a4e69;
  color: white;
  font-size: 18px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
 
}

.friend-slide img {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
.read-more {
  width: 15em;
  border-radius: 50px;
  height: 2.2em;
  margin-top: 3em;
  margin-bottom: 3em;
  border-color: transparent;
  background-color: #9a8c98;
  color: white;
  font-size: 18px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  
}



/* FOOTER */

footer {
  background-color: #22223b;
  color: white;
 position: relative;
 display: flex;
 flex-direction: column;
height: 45vh;
}

footer ul {
  display: flex;
}

footer li {
  list-style: none;
  
}
.footer-contact-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
}

.footer-contact ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.social-media-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.social-media-footer ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.footer-contact-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.end-line {
  position: absolute;
  right: 20px;
  bottom: 5px;
  font-size: 10px;
  font-weight: 300;
}

/* KARUZELA */

.carousel {
display: flex;
flex-direction: column;
justify-content: center;
margin-top: 0;
padding-top: 0;


}

.carousel p {
  
  line-height: 30px;
  margin-top: 2em;
 
}
.carousel h1 {
  text-align: center;
  background-color: #22223b;
  color: white;
  font-weight: 400;
  height: 2em;
  margin: 0;
  padding: 0;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.carousel h2 {
 font-size: 40px;
 font-family: 'Open Sans', sans-serif;
 letter-spacing: 4px;
}

.carousel h3 {
  font-size: 30px;
  color: #f2e9e4;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.first {
  background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  width: 100%;
  height: 500px;
}

.second {
  background: rgb(161,122,209);
background: radial-gradient(circle, rgba(161,122,209,1) 0%, rgba(42,69,215,1) 100%);
    width: 100%;
    height: 500px;
}

.third {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    width: 100%;
    height: 500px;
}

.button-more {
  width: 20%;
  border-radius: 50px;
  height: 2.2em;
  margin-top: 3em;
  margin-bottom: 3em;
  border-color: transparent;
  background-color: #9a8c98;
  color: white;
  font-size: 18px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  
}

.movie .opening {
  display: none;
}

.active .opening {
  display: block
}